body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.app {
  text-align: center;
}

.app-link {
  color: #61dafb;
}

.app-title{
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie--prop{
  float:left;
}

.image-spec-ul {
  list-style: none;
  text-align: left;
  max-width: 300px;
  padding-left: 0px;
}

.paginations-div-class{
  display: inline-flex;
}
.pagination-div-class{
  float:left;
}

.poster-image{
  max-width: 300px;
}

.menu{
list-style-type: none;
margin:0px;
padding:0px;

& li{
  display: block;
  float: left;
  padding: 16px;
}
& a{
  display: block;
    float: left;
    text-decoration: none;
    padding: 16px;
    color: white;
  }
}